<!DOCTYPE HTML>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>Live streaming</title>

        <link rel="shortcut icon" href="/static/favicon.ico">

        <script type="text/javascript" src="/static/webrtc-adapter/6.4.0/adapter.min.js" ></script>
        <script type="text/javascript" src="/static/janus.js" ></script>
        <script type="text/javascript" src="/live/{{ id }}/streaming.js"></script>
    </head>

    <body>
        <video id="video_stream" autoplay width: 100% height: auto />
    </body>
</html>
