
general: {
}

{% for name, value in streaming_config.items() %}
{% if name == "general" %}
{# 'general' cannot be used as stream name #}
{{ 0/0 }}
{% endif %}
{{ name }}: {
    type = "rtp"
    id = {{ value.id }}
    description = "{{ name }}"
    audio = false
    video = true
    videoport = {{ janus_port_streaming_start + value.id }}
    videopt = 96
    videortpmap = "H264/90000"
    videofmtp = "profile-level-id=42e028;packetization-mode=1"
}
{% endfor %}
