{% for camera in cameras %}

[program:{{ camera.name }}]
command=python3 /opt/scripts/recorder.py {{ camera.name }}
umask=022
priority=21
autostart=true
autorestart=true
startsecs=5
startretries=5
stopsignal=INT
stopwaitsecs=5
stopasgroup=true
killasgroup=true
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
stderr_logfile=/dev/fd/2
stderr_logfile_maxbytes=0

[group:{{ camera.name }}]
programs={{ camera.name }}
priority=10

{% endfor %}
