{% for name, value in streaming_config["camera"].items() %}

[program:{{ name }}]
command=ffmpeg -nostdin -nostats -loglevel +level+info -rtsp_transport {{ value.rtsp_transport | default("udp", true) }} -i "{{ value.src }}" -f segment -metadata title="" -c copy -an -flags +global_header -segment_time 900 -segment_atclocktime 1 -reset_timestamps 1 -segment_format mp4 -segment_format_options movflags=faststart -strftime 1 -y "{{ recordings_dir_path + '/' + name }}"/%%Y_%%m_%%d/%%s_%%Y-%%m-%%d_%%H-%%M-%%S.mp4 -f rtp -an -c:v copy -flags global_header -bsf dump_extra rtp://localhost:{{ janus_port_streaming_start + value.id }}
umask=022
priority=21
autostart=true
autorestart=true
startsecs=5
startretries=5
stopsignal=INT
stopwaitsecs=5
stopasgroup=true
killasgroup=true
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
stderr_logfile=/dev/fd/2
stderr_logfile_maxbytes=0

[group:{{ name }}]
programs={{ name }}
priority=10

{% endfor %}
