[program:live_streaming]
command=gunicorn --workers 1 --bind unix:/var/run/gunicorn.sock -m 007 live_streaming:app
directory=/opt/scripts/live_streaming
umask=022
priority=1
autostart=true
autorestart=true
startsecs=5
startretries=5
stopsignal=INT
stopwaitsecs=5
stopasgroup=true
killasgroup=true
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
stderr_logfile=/dev/fd/2
stderr_logfile_maxbytes=0
